@tailwind base;
@tailwind components;
@tailwind utilities;


*,body,html{
  margin:0;
  padding:0;
}
body{
  overflow-x: hidden;
}

*::-webkit-scrollbar{
  width:5px;
  height:25px;
  display:none;
}
*::-webkit-scrollbar-track{
  height: 50px;
  width:5px;
  background-color: red;
}
::-webkit-scrollbar-thumb{
  background-color:black;
  width:5px
}
